<!DOCTYPE html>
<html lang="eng"> 
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mini Whatsapp App</title>
 </head>
    <body>
        <h1>Welcome to Mini Whatsapp App, <%= username %>!</h1>
        <p>Thank you for registering with us. We're excited to have you on board!</p>
        <p>Start connecting with friends and sharing your moments now!.</p>
        <p>Best regards,<br>The Mini Whatsapp App Team</p>
    </body>
</html>
